#mainHeader{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white !important;
}
.labelName{
    text-align: right;
    margin-top:16px;
    font-weight:bold;
    color: white !important;
}
.categoriesVal{
    text-align: left;
    margin-top:10px;
}
.categoriesVal select{
    height: 30px;
    border-radius: 10px;
}
.booksList{
    margin-top:20px;
}
.bookDetail{
    height:450px;
    width:300px !important;
    margin-right: 5px;
    padding: 0px !important;
}
.imageDiv img{
    width:300px;
    height: 300px;
    padding: 0px !important;
}
.imageDiv{
    padding: 0px !important;
}
.bookName{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white !important;
}
.bookCount{
    border-radius: 20px;
}
.cartBtn{
    margin-left: 100px;
    margin-right: 100px;
    width: 100px;
    text-align: center;
    background: lightgray;
    margin-top: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.cartDiv{
    float: right !important;
    margin-top: 20px;
    cursor: pointer;
}
.bookTitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white !important;
}
.bookPrice{
    font-size: 20px;
    font-weight: bold;
    color: white !important;
}
.payment{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    background: lightgray;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
body{
    
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,8,64,0.8354692218684349) 0%, rgba(9,117,121,1) 35%, rgba(0,212,255,1) 100%);
}
